.Projects{
    height: 100vh;
}
.Projects_word{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}

@media screen and (max-width: 1024px) {
    .Projects_word{
        grid-template-columns: 1fr;
    }
}